<!DOCTYPE html>
<html>
  <head>
    <title>ClothingSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% unless @categories_page %>
      <ul id="menu">
        <li><a href="#">Home</a></li>
        <li><%= link_to 'Clothing', clothing_index_path %></li>
        <li>
          <%= link_to 'Categories', categories_path %>
          <ul>
            <li>
              <%= link_to "Women's Footwear", '/clothing/women/footwear' %>
            </li>
            <li>
              <%= link_to "Men's Footwear", '/clothing/men/footwear' %>
            </li>
            <li>
              <%= link_to "Women's Casualwear", '/clothing/women/casualwear' %>
            </li>
            <li>
              <%= link_to "Men's Casualwear", '/clothing/men/casualwear' %>
            </li>
            <li>
              <%= link_to "Women's Formalwear", '/clothing/women/formalwear' %>
            </li>
            <li>
              <%= link_to "Men's Formalwear", '/clothing/men/formalwear' %>
            </li>
          </ul>
        </li>
        <li><%= link_to 'Shopping Cart', cart_index_path %></li>
        
        <% if user_signed_in? %>
          <span><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <span><%= link_to "Sign in", new_user_session_path %></span>
          <span><%= link_to "Sign up", new_user_registration_path %></span>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
